# System
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Temporary/Output Data
temp_*.owl
eval_result_*.txt
inference_results/
runs/
debug_log.txt
test_old_runs1.txt
thesis_eval_results.json
evaluation_dataset.json
